<launch>
  <arg name="paused" default="false" />
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="debug" default="false" />

  <param name="use_sim_time" value="$(arg use_sim_time)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find com760cw2_group34)/worlds/city_delivery.world" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="debug" value="$(arg debug)" />
  </include>

  <param name="robot_description" command="$(find xacro)/xacro '$(find com760cw2_group34)/urdf/group34Bot.xacro'" />
 <!-- changed from using urdf to xacro for better modularity and maintainability as per CW2 brief -->

  <node name="spawn_groupid_bot"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-urdf -model group34Bot -param robot_description -x 0.0 -y 0.0 -z 0.08"
        output="screen" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
</launch>
