<launch>
  <include file="$(find com760cw2_group34)/launch/small_city_world.launch" />

  <rosparam command="load" file="$(find com760cw2_group34)/config/q_learning_params.yaml" />

  <node name="episode_resetter" pkg="com760cw2_group34" type="reset_episode.py" output="screen" />

  <node name="q_learning_delivery_node" pkg="com760cw2_group34" type="q_learning_node.py" output="screen">
    <param name="mode" value="demo" />
    <param name="epsilon" value="0.0" />
    <param name="max_episodes" value="10" /> 
  </node>
</launch>