<launch>
  <arg name="gui" default="false" />
  <arg name="mobile_obstacle" default="false" />

  <include file="$(find com760cw2_group34)/launch/small_city_world.launch">
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" value="true" />
    <arg name="mobile_obstacle" value="$(arg mobile_obstacle)" />
  </include>

  <rosparam command="load"
            file="$(find com760cw2_group34)/config/q_learning_params_small_map.yaml" />

  <node name="episode_resetter"
        pkg="com760cw2_group34"
        type="reset_episode.py"
        output="screen" />

  <node name="q_learning_delivery_node"
        pkg="com760cw2_group34"
        type="q_learning_node.py"
        output="screen">
    <param name="mode" value="train" />
    <param name="q_table_path"
           value="$(find com760cw2_group34)/results/small_city/q_table.json" />
    <param name="results_dir"
           value="$(find com760cw2_group34)/results/small_city/" />
  </node>
</launch>
