<launch>
 <arg name="gui" default="true" />

 <include file="$(find com760cw2_group34)/launch/city_delivery_world.launch">
    <arg name="gui" value="$(arg gui)" />
 </include>

 <rosparam command="load" file="$(find com760cw2_group34)/config/q_learning_params.yaml" />
 <node name="episode_resetter" pkg="com760cw2_group34" type="reset_episode.py" output="screen" />

 <node name="q_learning_delivery_node" pkg="com760cw2_group34" type="q_learning_node.py" output="screen">
    <param name="mode" value="train" />
    <param name="q_table_path" value="$(find com760cw2_group34)/results/q_table.json" />
    <param name="results_dir" value="$(find com760cw2_group34)/results/" />
    <!-- max_episodes removed: now correctly sourced from q_learning_params.yaml -->
</node>
</launch>